@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>
<style>
    body {
        background-image: url('../../image/InventoryManagement_Hero@3x.png');
        background-repeat: no-repeat;
        background-attachment: fixed;
        background-size: 100% 80%;
    }
</style>

<p class="alert-success">Our Company Provide the services in the Maharashra Since 2012<br />
   We Try to reach in all india market further 3 years its our Target.</p>




