@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<style>
    body {
        background-image: url('../../image/warehouse-management-solution.jpg');
        background-repeat: no-repeat;
        background-attachment: fixed;
        background-size: 100% 100%;
    }
</style>
<address class="alert-info">
    WareHouse NO.11,Sagar Palace Thane Bypass Road <br />
    Bhiwandi, District-Thane Maharashtra 421302<br />
    <abbr title="Phone">P:</abbr>
    9988776655
</address>

<address class="alert-info">
    <strong>Support:</strong>   <a href="mailto:Support@example.com">Support@example.com</a><br />
    <strong>Marketing:</strong> <a href="mailto:Marketing@example.com">Marketing@example.com</a>
</address>